GEMINI_API_KEY=AQ.Ab8RN6KtZR9Mnv5qwoCizugggN7smyuEz43xwPnEqbIv9yslCg

VITE_SUPABASE_URL=https://hjwsezhieroenkdobyac.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhqd3NlemhpZXJvZW5rZG9ieWFjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMjEyNzcsImV4cCI6MjEwMjg5NzI3N30.YGWIU-L6JspuvQQqOmg2uSLhtC56YOROSc-CmjuYevk
